.float {
  position: absolute;
  top: 0;
  left: 0;
}


.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-justify {
  text-align: justify;
}

.text-orange {
  color: #ffa400;
}